C="$(tput setaf 9)" # pale or dark red as used in man pages
R="$(tput sgr0)" # return to normal colour
text="${C}tl;dr$R
Called without arguments, this script returns the title (filled as intelligently
as possible, whether it's a network stream or a file without metadata) of the
currently playing song to stdout, clipped and ellipsized to a width of 60 chars,
and a more verbose tooltip to stderr.
If you don't use this script with tint2, you might want to discard the tooltip:
$me 2>/dev/null

${C}Features$R

Query a list of audio players for currently playing song info.
This list defaults to builtin capabilities + all plugin files found inside the
plugin directory. Identically named plugins override builtins.
If this query gets multiple results, make one choice based on certain rules (see
${C}-p$R, ${C}-P$R and ${C}-S$R) and format the output to ${C}stdout$R.

The output format is fairly limited; if you need more finegrained control you
should write your own plugin (one example is provided) or use the media player's
own functionality. Instead, the idea is to

 - make best use of the (limited) horizontal space on your panel
 - not be limited to 1 media player (incl. playback control)

$me is made with tint2's executor plugin in mind (but in no way limited
to it) and caters to most of its features:

 - show an icon in addition to the text (optional)
 - continuous operation (optional)
 - tooltip is sent to stderr
 - custom actions for clicking in the executor (left/right/middle/wheel)

${C}Formatting options$R

 a) shortening to a max. length (default: $maxlen) and ellipsizing (see ${C}-w$R and ${C}-e$R)
 b) folding output into more than 1 line, respecting word boundaries (see ${C}-l$R)

- which happens in exactly that order. The idea is to use the output in a
horizontal panel, where the number of lines is fixed, and horizontal space is
limited but not fixed. A third formatting option is to

 c) prepend a line with the path to an icon representing current player state
    (play/pause/stop). This has tint2's executor plugin in mind. See ${C}-i$R and ${C}-s$R.

Full information (still formatted but not ellipsized, one line for each player
on the list & running) is output to ${C}stderr$R (e.g. as tooltip for tint2's
executor plugin).

${C}Supported players$R
    $supported_players (see ${C}-p$R for full description)

${C}Plugins$R
    Please read README.md inside the plugins directory

${C}Options$R
    ${C}-p$R str   Media players to query. A space-separated list of commands that can
             be queried by 'pgrep -x'. This can include both builtin functions
             and plugins. If this option is specified, only the players listed
             will be queried, in that order. Plugins not on the list won't even
             be loaded. Then the script will stick to the first player that is
             playing AND returns a usable title string.
             This string is ${C}not$R checked against the list of default players,
             to save on filesystem queries and sanity checks.
             Default if not specified: \"$supported_players\"

    ${C}-P$R       If no player is currently playing, consider information from a
             paused player as well, according to the logic described above.

    ${C}-S$R       Include Stopped as a third option in the logic above. Implies -P.

    ${C}-w$R int   maximum length of the complete string ${C}before$R it is ellipsized or
             split into lines with ${C}-l$R. Default: $maxlen - Must be at least 10.

    ${C}-e$R str   String to use to ellipsize output that is too long. Default: \"$dots\"

    ${C}-r$R str   String to use to sepa${C}r${R}ate artist from song title, and the
             tooltip elements. Default: \"$sep\"
             This is also used inside the history file (see ${C}-H$R).
             Please keep in mind that network streams usually hardcode their
             titles to \"Artist - SongTitle\", no matter what you define here.

    ${C}-l$R int   Output will be split into this many lines, respecting word
             boundaries. Default: $lines - Must be between 1 and 100.

    ${C}-i$R dir   Path to a directory containing icons to display, with these names:
             ${state_nice[@]}. 
             Specifying this option makes the script output a first line with
             the path to the icon representing the current state. This is made
             to work with the tint2 Exec plugin, but can be utilized in other
             contexts, too.
             If an icon does not exist, the text \"no icon\" is returned.
             Formats: $extensions

    ${C}-s$R str   Space-separated list of strings to name the 4 player states.
             Defaults to \"${state_nice[@]}\".
             These strings also provide the basenames for the icons.
             All 4 strings are mandatory, even if not all icons are present.

    ${C}-T$R       Append elapsed or remaining time (depends on the plugin, but all
             the builtins use elapsed), and total time where applicable.

    ${C}-c$R int   Will run the script in a continuous loop with int seconds delay
             between updates. Minimum 1s, only whole seconds. Not exact - the
             delay is added to the time it takes to get the information.

    ${C}-t$R int   \"tint2 mode\". Like ${C}-c$R, it will run the script in a continuous
             loop with int seconds delay between updates. Minimum 1s, only whole
             seconds. Then it does 2 more things:
                1. Return the exact number of lines requested, even if it means
                   outputting empty lines, and even if nothing at all would be
                   output otherwise.
                2. Start each loop by sending a clearscreen sequence to stderr

    ${C}-d$R path  Dump information to this file (absolute path please), each bit of
             information on its own line: chosen player's play/pause toggle
             command, chosen player, player state, song title, time played, song
             length, filename.
                - the player's state play/pause/stop/unknown as defined in the
                  state_nice array in the main script
                - the title of the currently playing song, usually 
                  'Song Name - Artist' or, failing that, file name
                - the file (usually full path; URL for streams)
                - the time position in the song as elapsed/total, or merely
                  elapsed for streams
                - chosen player's play/pause toggle command
                - chosen player's next song command
                - chosen player's previous song command
                - chosen player's show window command
                - full path to currently playing song's album art
                - name of the chosen player according to the list of players

    ${C}-D$R       If ${C}-d$R is specified, the show window command dumped will always
             be for the first player on the list.

    ${C}-a$R       Alternative command to run (and show output of) when no usable
             output string is available. if ${C}-d$R is also active the dump will
             contain data for the first player on the list.
             ${C}No quality control! Be careful what you enter here!$R

    ${C}-n$R       Send notification on song change. Only works when ${C}-d$R is also
             specified. If album art exists, that will be used as an icon,
             otherwise \"$default_icon\".

    ${C}-y$R int   Dela${C}y$R in seconds before notification is shown. Especially
             mocp (Music On Console) changes this too early with network
             streams.

    ${C}-H$R path  Save history to this file (updated on song change). Only works
             when ${C}-d$R is also specified.

    ${C}-U$R       \"Upvote\" current song. This simply adds a string to the end of the
             newest history entry. Multiple \"upvotes\" are possible. You need to
             specify \"${C}-H$R path\" too if you want to use this.
             Sends a low urgency notification wehen triggered.

    ${C}-u$R str   Which string to use for \"upvoting\". Default: \"$upvote_str\" (a simple smiley)

    ${C}-A$R       Look for artwork images in local folders. Default string to search
             for: \"$arts\" (case insensitive), plus the
             exact name of the file playing, without extension. Same extensions
             as for ${C}-i$R.
             Resulting path will be used with ${C}-d$R and ${C}-n$R.
             To make this work with ${C}mpd$R, ${C}-M$R must also be specified.
             Since this is a slightly more expensive process, it will only be
             performed for the chosen + playing song.

    ${C}-I$R       Implies ${C}-A$R. The art found will be used as an icon string.
             Specifying this option makes the script output a first line with
             the path to the artwork image. This is made to work with the tint2
             Exec plugin, but can be utilized in other contexts, too.
             Artwork is searched as follows:
              - any combination of \"$arts\" (case
                insensitive), \"*\", \"$extensions\"
              - an image with the same name as the file playing
              - any image in the folder
              - try to extract \"folder.jpg\" from the file with ${C}ffmpeg$R

             If no artwork is found, but ${C}-i$R is defined, an icon for the
             current playback state is shown. Otherwise no icon is shown.
             To make this work with ${C}mpd$R, ${C}-M$R must also be specified.

    ${C}-M$R str   For ${C}mpd$R only: path to music directory.

    ${C}-1$R       Will make (fairly) sure only one script instance is running.

    ${C}-h$R       Display this message


${C}Bugs and Limitations$R
    The multiline functionality (${C}-l$R) is not very precise.

    Querying multiple players while multiple players are running works as
    defined; nevertheles the result might be confusing, as is the developer of
    this script from excessive testing.

    Of course there might be more bugs.
    Please open an issue if you have anything to say :)
"